# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store